# Constructor Inmobiliario

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
df = pd.read_csv("data/ConstructorInmobiliario.csv")

In [3]:
X = df[['Income', 'Size', 'Senior', 'Education']]
X.head()

   Income  Size  Senior  Education
0    60.8     2       0          4
1    68.4     2       1          6
2   104.5     3       0          7
3    89.3     4       1          0
4    72.2     4       0          2

In [4]:
y = df[['SqrFt']]
y.head()

   SqrFt
0   2240
1   2380
2   3640
3   3360
4   3080

In [5]:
model = LinearRegression()
model.fit(X, y)

y_pred = model.predict(X)
y_pred

array([[2267.12113914],
       [2230.96346368],
       [3139.55110543],
       [3353.22317281],
       [3079.84105256],
       [3095.81336351],
       [4343.47084265],
       [2759.67833243],
       [4347.30392475],
       [3023.03360304]])

### Variables

In [6]:
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print(f"Error cuadrático de la media: {mse}")
print(f"Varianza: {r2}")

Error cuadrático de la media: 44524.864449812994
Varianza: 0.9134269528337073

In [7]:
model.intercept_

array([879.3937802])

In [8]:
print(f"Coeficientes: {model.coef_}")

Coeficientes: [[ 16.32862748 274.68232141 -83.04632698 -38.60445866]]