### Regresión Lineal Múltiple - SalsBerry Realty
1. Determinar las variables independientes
2. Determinar la variable dependiente
3. Obtener el valor de interseccion
4. Estimar el corto de calefaccion para una Temperatura externa media de 30 grados, 5 pulgadas de aislamiento y un calentador con antiguedad de 10 años.

In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [6]:
# Importar datos
df = pd.read_csv('data/SalsberryRealty.csv')
df.head()

   Cost  Temp  Insul  Age  Garage
0   250    35      3    6       0
1   360    29      4   10       1
2   165    36      7    3       0
3    43    60      6    9       0
4    92    65      5    6       0

# Determinar las variables independienetes
x1, x2, y3

In [7]:
X = df[['Temp', 'Insul', 'Age']]
X

    Temp  Insul  Age
0     35      3    6
1     29      4   10
2     36      7    3
3     60      6    9
4     65      5    6
5     30      5    5
6     10      6    7
7      7     10   10
8     21      9   11
9     55      2    5
10    54     12    4
11    48      5    1
12    20      5   15
13    39      4    7
14    60      8    6
15    20      5    8
16    58      7    3
17    40      8   11
18    27      9    8
19    30      7    5

In [8]:
# 2. Determinar las variables Dependientes

In [9]:
y = df[['Cost']]
y

    Cost
0    250
1    360
2    165
3     43
4     92
5    200
6    355
7    290
8    230
9    120
10    73
11   205
12   400
13   320
14    72
15   272
16    94
17   190
18   235
19   139

In [10]:
# Ajustar el modelo de regresión multiple
model = LinearRegression()
model.fit(X,y) # entrenando el modelo
y_pred = model.predict(X)
#y_pred

# Métricas estadísticas
mse = mean_squared_error(y, y_pred) # Error de la media cuadrática
r2 = r2_score(y,y_pred) # varianza

# Calcular el valor de Interseccion

In [11]:
model.intercept

AttributeError: 'LinearRegression' object has no attribute 'intercept'

In [ ]:
# Coeficiente
print("Coeficientes: ", model.coef_)
print("Error cuadrático medio",mse)
print("Varianza: ", r2)

Coeficientes:  [[ -4.58266263 -14.83086269   6.10103206]]
Error cuadrático medio 2084.7638583181533
Varianza:  0.804170066487035

In [ ]:
Y = model.predict([[30,5,10]])
print("El costo de calefaccion estimado es: ", Y[0])

El costo de calefaccion estimado es:  [276.56993172]

C:\Users\alexi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(