In [ ]:
a = "hola mundo"
x = 4
y = 5
print(a, "x * y: ", x*y)

hola mundo x * y:  20

In [2]:
a = 1
b = 3.4
c = 2+3j
print(a,b,c)

1 3.4 (2+3j)

In [3]:
s1 = "esto es una cadenacon retorno de carro"
s2 = "tambien podemos usar las 'comillas sensillas'"
s3 = """esta cadena
abarca varios 
renglones ..."""
print (s1,s2,s3)

esto es una cadenacon retorno de carro tambien podemos usar las 'comillas sensillas' esta cadena
abarca varios
renglones ...

In [1]:
a = [1, 3, 25]
b = [1] * 10
c=list()
d=[]
print(a)
print(b)
print(c)
print(d)

[1, 3, 25]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[]
[]

In [2]:
a = list(range(4))
b = list(range(5,10))
c = list(range(0, 100, 10))
d = list(range(10, 0, -1))
print(a, b, c, d)

[0, 1, 2, 3] [5, 6, 7, 8, 9] [0, 10, 20, 30, 40, 50, 60, 70, 80, 90] [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
a = list(range(1,100))
print(a[0], a[1], a[10], a[25], a[50])
print(a[:10])
print(a[90:])
print(a[25:50])

1 2 11 26 51
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[91, 92, 93, 94, 95, 96, 97, 98, 99]
[26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [4]:
a = 5
if a < 10:
    print("menor a 10")
elif a > 10:
    print("mayor a 10")
else:
    print("igual a 10")

menor a 10

In [5]:
lista = [1,2,3]
contador = 0
for i in lista:
    print(i)
for i in range(0,11):
    print(i)
for i in range(10, -1, -1):
    print(i)
while contador <= 10:
    print(contador) 
    contador += 1

1
2
3
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
0
1
2
3
4
5
6
7
8
9
10

In [8]:
def cuadrado(n):
    return n*n
def factorial(n):
    if n <= 1:
        return n
    else:
        return n * factorial(n-1)

In [ ]:
print("dame una cadena")
cadena = input()
print("")

In [7]:
print("dame una cadena")
cadena = input()
print("la cadena es, ", cadena)

entero = int(input("introduce un entero: "))
print(entero)

flotante = float(input("introduce un flotante: "))
print(flotante)

dame una cadena
la cadena es,  hola
48
48.8