In [332]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv("data/CincinnatiPaintCompany.csv")
df.head()

   Commissions  Calls  Driven
0           22    139    2371
1           13    132    2226
2           33    144    2731
3           38    142    3351
4           23    142    2289

In [333]:
y = df[['Commissions']]
y

    Commissions
0            22
1            13
2            33
3            38
4            23
5            47
6            29
7            38
8            41
9            32
10           20
11           13
12           47
13           38
14           44
15           29
16           38
17           37
18           14
19           34
20           25
21           27
22           25
23           43
24           34

In [334]:
X = df[['Driven','Calls']]
X

    Driven  Calls
0     2371    139
1     2226    132
2     2731    144
3     3351    142
4     2289    142
5     3449    142
6     3114    138
7     3342    139
8     2842    144
9     2625    134
10    2121    135
11    2219    137
12    3463    146
13    3290    146
14    3103    144
15    2122    147
16    2791    144
17    3209    149
18    2287    131
19    2848    144
20    2690    132
21    2933    132
22    2671    127
23    2988    154
24    2829    147

In [335]:
model = LinearRegression()
model.fit(X,y)
y_pred = model.predict(X)
y_pred

array([[23.77899774],
       [17.07772797],
       [32.58879209],
       [41.05146467],
       [24.38947656],
       [42.58901159],
       [34.80378116],
       [39.01326371],
       [34.33029932],
       [24.60240556],
       [17.32735393],
       [20.12956597],
       [45.33799138],
       [42.62375038],
       [38.4251947 ],
       [24.93103386],
       [33.53014735],
       [43.24991845],
       [17.40243992],
       [34.42443485],
       [24.35754198],
       [28.17003079],
       [20.89778336],
       [42.94425602],
       [36.02333668]])

In [336]:
mse = mean_squared_error(y,y_pred)
r2 = r2_score(y, y_pred)
print("la mean square error:",mse)
print("el varianza",r2)

la mean square error: 16.313412727936058
el varianza 0.8352686374291525

In [337]:
model.intercept_ #cuando los valores sean 0 0, cual sera el valor predecido

array([-101.31444968])

In [338]:
print('coeficientes: ',model.coef_) #por cada llamada las comisiones aumentan en 0.632 y por cada milla en 0.015
print("error cuadratico medio",mse) #nos dice que en promedio el error del modelo es bajo
print("varianza", r2) #nos indica que el modelo tiene un buen ajuste

coeficientes:  [[0.01568925 0.63233256]]
error cuadratico medio 16.313412727936058
varianza 0.8352686374291525

In [339]:
Y = model.predict([[0,0]])
print("las comisiones generadas serian:", Y)

las comisiones generadas serian: [[-101.31444968]]

c:\Users\herna\anaconda3\envs\notebooks\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

Ganan mas comisisones los generentes que tienen mas numeros de llamadas y de millas recorridas? si,

hay una interaccion significativa entre el numero de llamadas de ventas y las millas recorridas: por lo que puedo notar los gerentes, que hagan mas llamadas que millas tienden a ganar muchisimas mas comisiones que los gerentes, que tengan mas millas que llamadas, por lo que para maximisar las comisiones, lo mejor serie hacer mas llamadas en cualquier caso.